pyttsx3
datetime
SpeechRecognition
email
webbrowser
wikipedia
pywhatkit
requests
newsapi-python
clipboard
pyjokes
pyautogui
pyjokes
psutil
sqlite3
tkinter
Pillow
cryptography
opencv-python
face_recognition
deepface
pygame